.all-category-model{
display: flex;
gap: 16px;
border-bottom: 1px solid gray;
}


.all-widgets-category{
    display: flex;
}

.category-particular-widgets{
display: flex;
gap: 8px;
flex-direction: column;
}